@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="mt-2">
            <NavBar />
        </div>
        <hr>
        <article class="content px-4">
            @Body
        </article>
            <MenuBebida />

        <MenuSocialMedia />

    </main>
</div>
