@page "/"

<PageTitle>Home</PageTitle>

<div class="container-fluid col-12">
    <div class="row">
        <div class="col-lg-6 p-2">
            <h1 class="fw-bold mt-5 text-success">Green Tea Frappucino</h1>
            <p>
                Green Tea Frappuccino es una bebida refrescante y deliciosa que combina té verde, leche, hielo y jarabe
            dulce, todo mezclado hasta obtener una consistencia cremosa.
            Suele tener un sabor herbal y ligeramente dulce debido al té verde y el jarabe, y se sirve a menudo con una
            capa de crema batida en la parte superior, aunque esto puede variar según la preferencia.
            La combinación de la frescura del té verde con la suavidad de la leche y la textura del hielo lo convierten
            en una opción popular para quienes buscan algo refrescante y con un toque diferente en las bebidas de café.
            </p>
        </div>
        <div class="col-lg-6 d-flex align-items-center justify-content-center" style="background-color: #108d00; border-radius: 32px;">
            <img src="IMG/img1.png" class="img-fluid">
        </div>
    </div>
</div>

