@page "/P2"

<PageTitle>Home</PageTitle>

<div class="container-fluid col-12">
    <div class="row">
        <div class="col-lg-6 p-2">
            <h1 class="fw-bold mt-5" style="color: #ff98a9;">Dragon Drink Frappucino</h1>
            <p>
                El Dragon Drink Frappuccino es una variante emocionante y tropical. Este frappuccino generalmente se
                elabora con la bebida refrescante de mango y dragón, leche, hielo y se mezcla hasta lograr una
                consistencia suave y cremosa. El sabor es una mezcla entre dulce y exótico debido al mango y la fruta
                del dragón, que a menudo se mezclan con leche de coco para darle un toque más cremoso y tropical. Por
                encima, suele llevar una capa de crema batida, aunque algunos lugares pueden variar en la presentación.
                Esta bebida es perfecta para aquellos que disfrutan de sabores frutales y tropicales en su café con
                hielo.
            </p>
        </div>
        <div class="col-lg-6 d-flex align-items-center justify-content-center" style="background-color: #ff98a9; border-radius: 32px;">
            <img src="IMG/img2.png" class="img-fluid" style="max-width: 400px; max-height: 580px;">
        </div>
    </div>
</div>