@page "/P3"

<PageTitle>Home</PageTitle>

<div class="container-fluid col-12">
    <div class="row">
        <div class="col-lg-6 p-2">
            <h1 class="fw-bold mt-5 " style="color: #e90eb2;">Fresa Cream Frappucino</h1>
            <p>
                El Fresa Cream Frappuccino es una bebida deliciosa y refrescante que combina fresas, leche, hielo y
                jarabe dulce (a menudo, jarabe de fruta de fresa) para crear una mezcla suave y cremosa. La base de esta
                bebida es la fresa, lo que le otorga un sabor dulce y frutal que se mezcla perfectamente con la textura
                cremosa de la leche y el hielo. Por lo general, se sirve con una capa de crema batida en la parte
                superior para añadir un toque extra de indulgencia y se puede decorar con trozos de fresa o incluso con
                un poco de jarabe adicional. Es una opción perfecta para los amantes de las fresas y para quienes buscan
                una bebida refrescante y sabrosa.
            </p>
        </div>
        <div class="col-lg-6 d-flex align-items-center justify-content-center" style="background-color: #e90eb2; border-radius: 32px;">
            <img src="IMG/img3.png" class="img-fluid">
        </div>
    </div>
</div>