<div class="container-fluid d-flex justify-content-center">
    <div class="col-3 mt-3">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <div class="justify-content-end">
                    <ul class="navbar-nav">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                                <img src="IMG/thumb1.png" alt="">
                        </NavLink>
                        <NavLink class="nav-link" href="P2" Match="NavLinkMatch.All">
                                <img src="IMG/thumb2.png" alt="">
                        </NavLink>
                        <NavLink class="nav-link" href="P3" Match="NavLinkMatch.All">
                                <img src="IMG/thumb3.png" alt="">
                        </NavLink>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>