<div class="position-fixed top-50 end-0 translate-middle-y">
    <nav class="navbar navbar-expand-lg bg-light p-3" style="background-color: #afeed5; border-radius: 10px;"> <!-- Estilos adicionales -->
        <div class="navbar-nav flex-column">
            <a class="nav-link" href="https://www.facebook.com/StarbucksColombia">
                <img src="IMG/LogoFacebook.png" alt="" class="img-fluid" style="width: 50px; height: 50px;">
            </a>
            <a class="nav-link" href="https://www.instagram.com/starbuckscol/">
                <img src="IMG/LogoInstagram.png" alt="" class="img-fluid" style="width: 50px; height: 50px;">
            </a>
            <a class="nav-link" href="https://twitter.com/StarbucksCOL">
                <img src="IMG/LogoX.png" alt="" class="img-fluid" style="width: 50px; height: 50px;">
            </a>
        </div>
    </nav>
</div>

